@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind component;

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  background: #000;
}
